html,body {
	margin: 0;
	padding: 0;
	background-color: #eee;
<<<<<<< HEAD
	font-family: serif;
=======
	font-family: 'Liberation Sans', arial, serif;
>>>>>>> 3caa79aab0cbb64bcbd3b345c45ccf21d2731011
}

@page {
	margin: 0;
	padding: 0;
}

#input1 {
	background-color: white;
	
	margin: 0 auto;
	display: block;

	padding: 1in;
}

#input1 h1 {
	text-align: center;
}
